/**
 * Styles for main.html
 */
.template, .templates { display: none; }
body {
    margin: 1em; padding: 0em;
    font-size: 14px;
    font-family: "Lucida Grande", arial;
    background-color: #99C9E0;
}
a { text-decoration: none; }
a:hover { }
header {
    background-color: #21496C;
    width: 750px;
    margin: 0 auto;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25) inset, 0 1px 2px rgba(0, 0, 0, 0.25);
}
header hgroup {
    padding: 15px;
}
header hgroup h1 {
    margin: 0; padding: 0 0 0 0;
    height: 32px;
}
header hgroup h1 a {
    margin: 0; padding: 0 0 0 44px;
    display: block;
    color: #fff;
    color: #fff;
    line-height: 32px;
    background: transparent url(../img/blue-rss.png) no-repeat;
}

section.entries { 
    width: 750px;
    min-height: 750px;
    margin: 0 auto;

    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25) inset, 0 1px 2px rgba(0, 0, 0, 0.25);
    color: #3D3F40;
    margin-top: -4px;
    margin-bottom: 15px;
    padding: 5px 15px 15px 15px;
    position: relative;
    
}
section.entries > ul { 
    margin: 0 1em 0 1em; padding: 0;
}
section.entries > ul li { 
    list-style: none;
}
section.entries > ul li.feed-divider { 
    position: relative;
    border: 1px solid #aaa;
    margin: 1em 0 1em 0;
    padding: 0;
    background: #eee;
    height: 32px;

    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25) inset, 0 1px 2px rgba(0, 0, 0, 0.25);
    color: #3D3F40;
}
section.entries > ul li.feed-divider:first { 
    margin-top: 0.5em;
}
section.entries > ul li.feed-divider .favicon { 
    position: absolute;
    left: 8px; 
    top: 8px;
}
section.entries > ul li.feed-divider h3.feedTitle { 
    text-shadow: 0 0 4px #ccc;
    margin: 0 24ex 0 0; padding: 0; 
    line-height: 32px;
    position: relative;
    left: 32px;
    font-size: 115%;
    white-space: nowrap;
    overflow: hidden;
}
section.entries > ul li.feed-divider h3.feedTitle a {
    display: block;
    color: #333;
}
section.entries > ul li.feed-divider .published { 
    display: none;
    position: absolute;
    top: 0px; right: 8px;
    line-height: 32px;
    font-size: 75%;
}
section.entries > ul li.feed-divider .hideFeed { 
    position: absolute;
    top: 1px; right: 8px;
    font-size: 100%;
    border: 1px solid #ccc;
    padding: 2px 4px;
    margin: 2px;
    -moz-box-sizing: border-box;

    background: none repeat scroll 0 0 #ffeeee;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 -0.5px 0.5px rgba(0, 0, 0, 0.25) inset, 0 1px 2px rgba(0, 0, 0, 0.25);
    color: #3D3F40;

}
section.entries > ul li.feed-divider .hideFeed span { 
    font-size: 75%;
    font-weight: bold;
}

section.entries > ul li.feed-entry { 
    position: relative;
    margin: 0 32px 0 32px; padding: 0;
}
section.entries > ul li.feed-entry .favicon { 
    position: absolute;
    left: 0px; 
    top: 0px;
}
section.entries > ul li.feed-entry h4.title {
    margin: 0.75em 18ex 0.25em 24px; 
    padding: 0; 
    position: relative;
    font-size: 105%;
}
section.entries > ul li.feed-entry h4.title a {
    display: block;
}
section.entries > ul li.feed-entry .published {
    position: absolute;
    top: 0px; right: 0px;
    line-height: 24px;
    font-size: 80%;
    cursor: pointer;
} 
section.entries > ul li.feed-entry .expandEntry {
    position: absolute;
    top: -2px; right: -4ex;
    display: block; 
    width: 24px; height: 24px;
    line-height: 24px;
    background: transparent url(../img/outline_collapsed_alt.gif) no-repeat 5px 8px;
    overflow: hidden; 
    text-indent: 24px;
    whitespace: no-wrap;
}
section.entries > ul li.summary-revealed .expandEntry {
    background-image: url(../img/outline_expanded_alt.gif);
    background-position: 5px 6px;
}
section.entries > ul li.summary-loading .expandEntry {
    background-image: url(../img/ajax-loader.gif);
    background-position: 2px 5px;
    cursor: default;
}

section.entries > ul li.feed-entry p.summary {
    font-family: serif;
    font-size: 100%;
    margin: 0 1.5em 0 1.5em; padding: 0;
}
section.entries > ul li.feed-entry iframe.summary_wrap {
    border: 1px dotted #ccc; 
    display: none;
    padding: 0.5em 1.0em;
    margin: 0.75em 0 0.75em 0;
}
section.entries > ul li.summary-revealed iframe.summary_wrap {
    display: block;
}
section.entries > ul li.summary-loading iframe.summary_wrap {
    display: block;
}

nav.folders {
    display: none;
    
    position: absolute;
    right: -260px;
    width: 250px;

    background: #ccc;
    background-color: #21496C;
    padding: 10px 10px 10px 0px;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25) inset, 0 1px 2px rgba(0, 0, 0, 0.25);

}
nav.folders > ul {
    margin: 0; padding: 0 0 0 0; 
}
nav.folders > ul li > ul.subfolders {
    margin: 0; padding: 0.25em 1.5em 0 0;
}
nav.folders > ul li {
    list-style: none;
    position: relative;
}
nav.folders > ul li a {
    display: block;
    background: #41698c;
    color: #fff;
    border-radius: 0px 5px 5px 0px;
    padding: 0.25em 0.5em;
    margin: 0.25em 0.25em 0.25em 0em;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25) inset, 0 1px 2px rgba(0, 0, 0, 0.25);
}
nav.folders > ul li a:hover {
    background: #6189ac;
}
nav.folders > ul li.selected {
    list-style: none;
}
nav.folders > ul li.selected > a {
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.5);
    box-shadow: none;
    margin-left: -1em;
    background: #C8D0D6;
    color: #222;
    font-weight: bold;
    font-size: 1.5em;
    padding: 0 0.5em 0 1.5em;
    height: 40px;
    line-height: 40px;
    cursor: default;
}
nav.folders > ul li.selected > a:before {
    position: absolute; left: -40px; top: 0;
    content: ' ';
    font-size: 0px; line-height: 0%; width: 0px;
    border-top: 20px solid #fff;
    border-bottom: 20px solid #fff;
    border-left: 20px solid #fff;
    border-right: 20px solid #C8D0D6;
}

section.hidden-feeds { 
    display: none;

    width: 750px;
    margin: 0 auto;

    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25) inset, 0 1px 2px rgba(0, 0, 0, 0.25);
    color: #3D3F40;
    margin-top: -4px;
    margin-bottom: 15px;
    padding: 5px 15px 15px 15px;
    position: relative;
    
}
section.hidden-feeds > ul { 
    margin: 0 1em 0 1em; padding: 0;
}
section.hidden-feeds > ul li { 
    list-style: none;
}
section.hidden-feeds > ul li.feed-divider { 
    position: relative;
    border: 1px solid #aaa;
    margin: 1em 0 1em 0;
    padding: 0;
    background: #eee;
    height: 32px;

    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25) inset, 0 1px 2px rgba(0, 0, 0, 0.25);
    color: #3D3F40;
}
section.hidden-feeds > ul li.feed-divider:first { 
    margin-top: 0.5em;
}
section.hidden-feeds > ul li.feed-divider .favicon { 
    position: absolute;
    left: 8px; 
    top: 8px;
}
section.hidden-feeds > ul li.feed-divider h3.feedTitle { 
    text-shadow: 0 0 4px #ccc;
    margin: 0 24ex 0 0; padding: 0; 
    line-height: 32px;
    position: relative;
    left: 32px;
    font-size: 115%;
    white-space: nowrap;
    overflow: hidden;
}
section.hidden-feeds > ul li.feed-divider h3.feedTitle a {
    display: block;
    color: #333;
}
section.hidden-feeds > ul li.feed-divider .published { 
    display: none;
    position: absolute;
    top: 0px; right: 8px;
    line-height: 32px;
    font-size: 75%;
}
section.hidden-feeds > ul li.feed-divider .unhideFeed { 
    position: absolute;
    top: 1px; right: 8px;
    font-size: 100%;
    border: 1px solid #ccc;
    padding: 2px 4px;
    margin: 2px;
    -moz-box-sizing: border-box;

    background: none repeat scroll 0 0 #eeffee;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 -0.5px 0.5px rgba(0, 0, 0, 0.25) inset, 0 1px 2px rgba(0, 0, 0, 0.25);
    color: #3D3F40;

}
section.hidden-feeds > ul li.feed-divider .unhideFeed span { 
    font-size: 75%;
    font-weight: bold;
}



